@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {  
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    color: #111827;
    -webkit-font-smoothing: antialiased;
}

input:invalid {
    border-color: #dc2626;
}

.custom-shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.hero-gradient {
    background: #ffffff;
}
